h1{
    color: red;
    text-align: center;
}
h1::after{
    content: '';
    width: 20%;
    height: 2px;
    margin: auto;
    border: 3px solid #f9004d;
    display: block;
    margin-top: 20px;
    background-color: #f9004d;

}
body{
    background-color: azure;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
h3::after{
    content: '';
    width: 10%;
    height: 2px;
    margin: auto;
    margin-right: 100%;
    border: 3px solid #f9004d;
    display: block;
    margin-top: 20px;
    background-color: #f9004d;
}
article{
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
p{
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
}
a:hover{
    
    background-color: rgb(19, 218, 118);
}
span{
    color: red;
}
span:hover{
    color: black;
}
h2{
    text-align: center;
}
button{
    margin-left: 45px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0;
    color: black;
    box-shadow: 0 0 5px gray;
    
}
button:hover{
    transition: all .5s ease 0s;
    transform: scale(1.1);
    background-color: aqua;
    cursor: pointer;
    color: rgb(46, 14, 231);
}
input{
    margin-left: 45px;
}
p{
    margin-left: 45px;
}